<%- include("partials/header.ejs") %>
    <div class="container-fluid">
        <h1>Welcome to TO-DO Application!</h1>
        <div id="createbtn" class="container-sm">
            <form action="/today" method="get">
                <input type="submit" value="Create tasks">
            </form>
        </div>
    </div>
<%- include("partials/footer.ejs") %>